body{
    background-color: darkgrey;
}
.calc{
    text-align: center;
    width: 90%;
    margin: 18rem auto;
    border-radius: 2rem 0rem;
    box-shadow: 5px 7px 6px 4px #7a7a7a;
    background-color: #efefef;
    padding: 2rem;
}
input{
    padding: 0.5rem 2rem 0.5rem 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #bbd1a2;
    margin: 0rem 1rem;
}
input[type="button"]{
    padding: 0.5rem 1rem;
}
select{
    margin: 0rem 1rem;
}